.inactivo{
    display: none;
    display: none;
}
.carrito-vacio{
    margin: 1.5rem;
    p{
        font-size: 2rem;
    }
}
// HEADER CARRITO
.header-carrito{
    display: flex;
    align-items: center;
    .boton-volver{
        margin: 2rem 8rem 2rem 2rem;
        button{
            width: 10rem;
            height: 3rem;
            display: flex;
            align-items: center;
            border-radius: 2rem;
            border: none;
            background-color: white;
            a{
                padding-left: 1.6rem;
                text-decoration: none;
                color: black;
                font-size: 1.3rem;
            }
            .bi{
                font-size: 1.8rem;
            }
            &:hover{
                transform: scale(1.1);
                box-shadow: 0px 5px 12px 1px rgba(0,0,0,0.75);
                -webkit-box-shadow: 0px 5px 12px 1px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 5px 12px 1px rgba(0,0,0,0.75);
                transition: all .3s;
            }
        }
    }
}
.contenedor-titulo-carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    .titulo-carrito{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30rem;
        border-color: black;
        border-style: solid;
        border-width: 0 0 5px 0;
        h1{
            font-size: 4rem;
            font-style: italic;
            font-weight: 700;
        }
    }
}
// SECCION DE PRODUCTOS AGREGADOS


.carrito-contenedor{
    .productos-agregados{
        display: flex;
        flex-direction: column;
        .card-agregados{
            display: flex;
            justify-content: space-between;
            height: 10rem;
            margin: 1rem;
            border-style: solid;
            border-radius: 1rem;
            .img-agregados{
                display: flex;
                p{
                    padding: 1rem;
                    font-weight: 600;
                    font-size: 1.3rem;
                }
                img{
                    border-radius: .7rem 0rem 0rem .7rem;
                    width: 10rem;
                }
            }
            .cantidad{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                h2{
                    font-size: 1.2rem;
                }
            }
            .precio{
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    font-size: 1.5rem;
                }
            }
            .boton-eliminar{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 2rem;
                button{
                    background-color: red;
                    border-radius: 1rem;
                    height: 3rem;
                    width: 3rem;
                    border-color: white;
                    .bi{
                        font-size: 1.5rem;
                        color: white;
                    }
                }
            }
        }
    }
}

// secciones de compras

.precio-final{
    margin: 2rem;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 2rem;
    height: 15rem;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
    .article-precio{
        .titulo-precio{
            text-align: center;
            h3{
                width: 25rem;
                border-width: 0 0 .1rem 0;
                padding: .5rem;
                border-style: solid;
            }
        }
        .total{
            padding: 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            p{
                margin: 0;
                font-weight: 600;
                font-size: 1.3rem;
            }
        }
        .botones{
            display: flex;
            align-items: center;
            justify-content: center;
            #comprar{
                border-radius: 1rem;
                margin: 1rem 2rem;
                height: 3rem;
                width: 8rem;
                font-weight: 600;
                border-style: solid;
                color: green;
                border-color: green;
                .bi{
                    font-size: 1.1rem;
                }
                &:hover{
                    transition: all .3s;
                    transform: scale(1.1);
                    background-color: green;
                    color: white;
                }
            }
            #vaciar{
                border-radius: 1rem;
                height: 3rem;
                width: 9rem;
                font-weight: 600;
                border-style: solid;
                color: red;
                border-color: red;
                .bi{
                    font-size: 1.1rem;
                }
                &:hover{
                    transition: all .3s;
                    transform: scale(1.1);
                    background-color: red;
                    color: white;
                }
            }
        }
    }
}