#grid{
    display: grid;
    grid-template-areas: "header prod";
    grid-template-columns: 15rem;
}




// FORMA ACTIVA


.activo{
    border-radius: 2rem;
    box-shadow: 0px 5px 12px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 5px 12px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 12px 1px rgba(0,0,0,0.75);
}






// --------------------------



.header{
    position: fixed;
    grid-area: header;
    background-color: rgb(182, 48, 0);
    padding-left: 0rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // align-items: center;
    // padding-left: 2rem;
    .logo-contenedor{
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 10rem;
        width: 100%;
        padding: 2rem;
        border-width: 0 0 2px 0;
        border-style: solid;
        h1{
            color: white;
            font-size: 3.5rem;
            font-style: italic;
        }
    }
    // CATEGORIAS
    .categorias{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: 20rem;
        .boton-categoria{
            margin-left: 2rem;
            width: 12rem;
            height: 3.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            button{
                width: 10rem;
                height: 2.5rem;
                border: none;
                border-radius: 1rem;
                background-color: rgb(182, 48, 0);
                color: white;
                font-weight: 550;
                &:hover{
                    transition: all .2s;
                    transform: scale(1.1);
                    box-shadow: 0px 5px 12px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 5px 12px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 12px 1px rgba(0,0,0,0.75);
                }
            }
        }
    }
    // CARRITO
    .carrito{
        width: 3.3rem;
        height: 3.3rem;
        border-radius: 2rem;
        margin: 2rem;
        button{
            background-color: rgb(49, 13, 0);
            border: none;
            border-radius: 2rem;
            width: 3.3rem;
            height: 3.3rem;
            .bi{
                color: rgb(255, 255, 255);
                font-size: 1.5rem;
            }
            &:hover{
                transform: scale(1.2);
                box-shadow: 0px 7px 16px 5px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 7px 16px 5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 7px 16px 5px rgba(0,0,0,0.75);
transition: all .3s;
            }
        }

    }

}
.productos{
    grid-area: prod;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4rem;
    row-gap: 3rem;
    margin: 2rem 2rem;
    .card{
        border-radius: .7rem;
        height: 23.5rem;
        .img-card{
            img{
                border-radius: 1rem;
                width: 100%;
                padding: .5rem;
            }
        }
        .nombre-card{
            padding:  0 .5rem;
            h3{
                font-size: 1.2rem;
                font-weight: 650;
            }
            p{
                font-size: 1.1rem;
            }
        }
        .boton{
            position: absolute;
            bottom: -20px;
            right: 1px;
            margin: 0 .5rem;
            display: flex;
            justify-content: end;
            width: 2.5rem;
            height: 2.5rem;
            button{
                border-radius: .5rem;
                width: 2.5rem;
                height: 2.5rem;
                padding: 0;
                border-style: solid;
                border-width: .1rem;
                .bi{
                    margin: 0;
                    font-size: 1.5rem;
                    
                }
                &:hover{
                    box-shadow: 0px 8px 11px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 8px 11px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 8px 11px 0px rgba(0,0,0,0.75);
                    transform: scale(1.1);
                    background-color: black;
                    transition: all .3s;
                    .bi{
                        color: white;
                    }
                }
            }
        }
    }
}